#  T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_rel`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [14]:
# Import libraries
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

### One tailed t-test 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

#### Import dataset

In [10]:
# Your code here:
data_df = pd.read_csv('ttest_machine.txt', delim_whitespace=True)
data_df

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

# H0 = The average packing time of the new machine is equal to or slower than the average packing time of the current machine.
# H1 = The average packing time of the new machine is faster than the average packing time of the current machine.

In [17]:
# Separate the data for the new machine and the old machine
new_machine_data = data_df['New_machine']
old_machine_data = data_df['Old_machine']

# Perform a one-tailed t-test
t_stat, p_value = ttest_ind(new_machine_data, old_machine_data, alternative='greater', equal_var=False)

# Define the significance level (alpha)
alpha = 0.05

print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")
# Check if the p-value is less than alpha
if p_value < alpha:
    print("The data provides sufficient evidence to show that the new machine is better than the old machine.")
else:
    print("There is not enough evidence to conclude that the new machine is better than the old machine.")

T-statistic: -3.3972307061176026
P-value: 0.998378875266841
There is not enough evidence to conclude that the new machine is better than the old machine.

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use pokemon.csv

Null Hypothesis (H0):

H0 for each feature: The mean stat value (e.g., HP, Attack, Defense, etc.) for Legendary pokemons is equal to the mean stat value for non-Legendary pokemons.
Alternative Hypothesis (H1):

H1 for each feature: The mean stat value for Legendary pokemons is not equal to the mean stat value for non-Legendary pokemons.

In [18]:
# Load the data:
df= pd.read_csv('pokemon.txt', sep=',')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [27]:
from scipy.stats import ttest_ind

def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}
    
    for feature in features:
        t_stat, p_value = ttest_ind(s1[feature], s2[feature], equal_var=True)
        results[feature] = p_value
    
    return results

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [28]:
from scipy.stats import ttest_ind

def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples

    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test

    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}

    for feature in features:
        t_stat, p_value = ttest_ind(s1[feature], s2[feature], equal_var=False)  # Set equal_var=False
        results[feature] = p_value

    return results

# Using the t_test_features function, conduct t-test for Legendary vs non-Legendary pokemons
legendary_pokemon = df[df['Legendary'] == True]
non_legendary_pokemon = df[df['Legendary'] == False]

t_test_results = t_test_features(legendary_pokemon, non_legendary_pokemon)

# Display the t-test results
t_test_results

{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

# Your comment here
### From the test results above, it can be concluded that Legendary and non-Legendary pokemons have significantly different stats on each feature. This conclusion is based on the p-values obtained from the t-tests, which are all very close to zero (much smaller than the typical significance level of 0.05). 
### Based on the t-test results for each feature, we can determine that  null hypotheses were rejected for all features

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

Null Hypothesis (H0): There is no significant difference in stats between Generation 1 and Generation 2 pokemons for each feature.

Alternative Hypothesis (H1): There is a significant difference in stats between Generation 1 and Generation 2 pokemons for at least one feature.

In [30]:
# Your code here
# Split the data into two samples: Generation 1 and Generation 2 Pokémon
gen1_pokemon = df[df['Generation'] == 1]
gen2_pokemon = df[df['Generation'] == 2]

# Perform the t-test using the t_test_features function
t_test_results_gen = t_test_features(gen1_pokemon, gen2_pokemon)

# Display the t-test results
t_test_results_gen

{'HP': 0.14551697834219623,
 'Attack': 0.24721958967217725,
 'Defense': 0.5677711011725426,
 'Sp. Atk': 0.12332165977104388,
 'Sp. Def': 0.18829872292645752,
 'Speed': 0.00239265937312135,
 'Total': 0.5631377907941676}

#### What conclusions can you make?

# Your comment here
Based on the t-test results, we fail to reject the null hypothesis (p-values > 0.05) for all features except for 'Speed' (p-value = 0.0024). Therefore, we conclude that Generation 1 and Generation 2 pokemons have similar stats in most features, except for 'Speed' where there is a significant difference.

#### Compare pokemons who have single type vs those having two types.

Null Hypothesis (H0): There is no significant difference in stats between single-type and dual-type pokemons for each feature.

Alternative Hypothesis (H1): There is a significant difference in stats between single-type and dual-type pokemons for at least one feature.

In [31]:
# Your code here
# Split the data into two samples: Single-type and Dual-type Pokémon
single_type_pokemon = df[df['Type 2'].isna()]
dual_type_pokemon = df[~df['Type 2'].isna()]

# Perform the t-test using the t_test_features function
t_test_results = t_test_features(single_type_pokemon, dual_type_pokemon)

# Display the t-test results
t_test_results

{'HP': 0.11314389855379414,
 'Attack': 0.00014932578145948305,
 'Defense': 2.7978540411514693e-08,
 'Sp. Atk': 0.00013876216585667907,
 'Sp. Def': 0.00010730610934512779,
 'Speed': 0.02421703281819093,
 'Total': 1.1157056505229961e-07}

#### What conclusions can you make?

# Your comment here
The null hypothesis (H0) was rejected for the following attributes: Attack, Defense, Special Attack, Special Defense, Speed, and Total stats. 

The t-tests indicate that there are significant differences between single-type and dual-type Pokémon across various attributes, including Attack, Defense, Special Attack, Special Defense, Speed, and Total stats. However, there is no significant difference in HP between these two groups.

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

Null Hypothesis (H0):

For the Attack vs Defense test: There is no significant difference between the mean values of Attack and Defense for all Pokémon.
For the Sp. Atk vs Sp. Def test: There is no significant difference between the mean values of Special Attack and Special Defense for all Pokémon.

Alternative Hypothesis (H1):

For the Attack vs Defense test: There is a significant difference between the mean values of Attack and Defense for all Pokémon.
For the Sp. Atk vs Sp. Def test: There is a significant difference between the mean values of Special Attack and Special Defense for all Pokémon.

In [33]:
# we can perform paired t-tests since we are comparing attributes within the same population (all Pokémon).
# Your code here
from scipy.stats import ttest_rel

# Perform paired t-test for Attack vs Defense
t_stat_attack_defense, p_value_attack_defense = ttest_rel(df['Attack'], df['Defense'])

# Perform paired t-test for Sp. Atk vs Sp. Def
t_stat_sp_atk_sp_def, p_value_sp_atk_sp_def = ttest_rel(df['Sp. Atk'], df['Sp. Def'])

# Print the p-values for both comparisons
print("P-Value (Attack vs Defense):", p_value_attack_defense)
print("P-Value (Sp. Atk vs Sp. Def):", p_value_sp_atk_sp_def)

P-Value (Attack vs Defense): 1.7140303479358558e-05
P-Value (Sp. Atk vs Sp. Def): 0.3933685997548122

#### What conclusions can you make?

# Your comment here
The p-value for the comparison between Attack and Defense is very small (p < 0.05), indicating a significant difference between their mean values. Thus, we reject the null hypothesis (H0) for this test.

The p-value for the comparison between Sp. Atk and Sp. Def is relatively large (p > 0.05), suggesting no significant difference between their mean values. Therefore, we do not reject the null hypothesis (H0) for this test.